<div class="p-4 d-flex justify-content-center">
    <img src="../../assets/img/main-img.png" alt="logo" class="img-fluid d-sm-block d-md-none mt-5 mx-auto text-center w-50">
</div>
<div class="container d-flex justify-content-around padding mb-sm-3">
    <img src="../../assets/img/main-img.png" class="main-img my-5 d-none d-md-block d-sm-none w-25 img-fluid" alt="main img">
    <div class="text-end mt-5">
        <h3>طراحی تخصصی وب سایت</h3>
        <p class="text-info text-justify ">طراحی وبسایت خود را به افراد متخصص بسپارید</p>
        <p class="">این روز ها طراحی وبسایت از مهم ترین اجزائ هر کسب و کار و برندی است تیم تریک هاب مایل است تا با تکنولوژی های روز دنیا شما را در این راه همراهی کند</p>
        <a class="btn rounded-pill text-white mt-sm-3 mt-md-5 seeservicesbtn text-decoration-none" href="#services">مشاهده
      خدمات</a>
    </div>
</div>