<div class="container mt-4 mb-4" dir="rtl">
    <p class="text-secondary">آخرین مقالات</p>
    <a routerLink="/blogpage" class="text-decoration-none text-dark">
        <div class="card mb-3 p-4 w-50 rounded-4 article mx-auto" dir="rtl">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../assets/img/main-img.png" class="img-fluid rounded-start" alt="article">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">آیفون 15 انچه تاکنون میدانیم</h3>
                        <p class="card-text text-secondary">زمان برای هیچ کس متوقف نمی شود، و بنابراین ما در حال حاضر به دنبال آیفون ۱۵ هستیم، با وجود این واقعیت که آیفون ۱۴ به تازگی رونمایی شده است.</p>
                        <p class="card-text"><small class="text-muted"> آخرین بروزرسانی 3 دقیقه قبل</small></p>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <a routerLink="/blogpage" class="text-decoration-none text-dark">
        <div class="card mb-3 p-4 w-50 rounded-4 article mx-auto" dir="rtl">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../assets/img/main-img.png" class="img-fluid rounded-start" alt="article">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">آیفون 15 انچه تاکنون میدانیم</h3>
                        <p class="card-text text-secondary">زمان برای هیچ کس متوقف نمی شود، و بنابراین ما در حال حاضر به دنبال آیفون ۱۵ هستیم، با وجود این واقعیت که آیفون ۱۴ به تازگی رونمایی شده است.</p>
                        <p class="card-text"><small class="text-muted">آخرین بروزرسانی 3 دقیقه قبل</small></p>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <a routerLink="/blogpage" class="text-decoration-none text-dark">
        <div class="card mb-3 p-4 w-50 rounded-4 article mx-auto" dir="rtl">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../assets/img/main-img.png" class="img-fluid rounded-start" alt="article">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">آیفون 15 انچه تاکنون میدانیم</h3>
                        <p class="card-text text-secondary">زمان برای هیچ کس متوقف نمی شود، و بنابراین ما در حال حاضر به دنبال آیفون ۱۵ هستیم، با وجود این واقعیت که آیفون ۱۴ به تازگی رونمایی شده است.</p>
                        <p class="card-text"><small class="text-muted">آخرین بروزرسانی 3 دقیقه قبل</small></p>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <a routerLink="/blogpage" class="text-decoration-none text-dark">
        <div class="card mb-3 p-4 w-50 rounded-4 article mx-auto" dir="rtl">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../assets/img/main-img.png" class="img-fluid rounded-start" alt="article">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">آیفون 15 انچه تاکنون میدانیم</h3>
                        <p class="card-text text-secondary">زمان برای هیچ کس متوقف نمی شود، و بنابراین ما در حال حاضر به دنبال آیفون ۱۵ هستیم، با وجود این واقعیت که آیفون ۱۴ به تازگی رونمایی شده است.</p>
                        <p class="card-text"><small class="text-muted">آخرین بروزرسانی 3 دقیقه قبل</small></p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
