<div class="pt-5 pb-5 needwebsite" dir="rtl">
    <div class="container d-flex justify-content-between">
        <div>
            <h5 class="coloredtext text-nowrap">به یک وبسایت حرفه ای نیاز دارید؟</h5>
            <p class="text-secondary text-justify">همین حالا در سایت ثبت نام کنید و به پشتیبانی تیکت دهید یا با ما تماس بگیرید !!
            </p>
        </div>

        <div>
            <input class="btn btn-white text-white px-4 py-2 rounded-pill" value="ورود به سایت" routerLink="login" type="button">
            <input class="btn btn-success px-4 py-2 rounded-pill" value="ثبت نام" routerLink="register" type="button">
        </div>
    </div>
</div>
