<div class="pt-5 container text-center">
    <h3 class="pb-3">طراحی حرفه ای وب سایت</h3>
    <p class="text-secondary text-justify w-50 pb-5 text-center m-auto">تیم تریک هاب با استفاده از یکی از قدرتمندترین زبان های برنامه نویسی یعنی پایتون و تحت فریم ورک جنگو وبسایت ها را طراحی می کند ، زیرا وبسایت هایی که تحت فریم ورک جنگو ساخته میشوند از معماری MVT استفاده میکنند و همچنین امنیت و سرعت سایت را نسبت به CMS
        هایی مثل وردپرس و جوملا بسیار بالا میبرد. تلاش ما این است بهینه ترین وبسایت ها را طبق تکنولوژی حال حاضر طراحی کنیم.
    </p>
</div>

<div class="map w-100 d-flex justify-content-center mb-0">
    <img class="img-fluid py-4" src="../../assets/img/map.png">
</div>

<div class="text-center pb-5 pt-3 world">
    <div class="container">
        <h3 class="text-white pb-2">در هرکجای این کره ی خاکی</h3>
        <h5 class="text-light">با داشتن وبسایت خیالتان از همه بابت راحت است ، مشتریان شما در هر کجای این کره خاکی میتوانند به صورت ۲۴ ساعته به وبسایت شما دسترسی داشته باشند و از وبسایت شما استفاده کنند</h5>
    </div>
</div>
