<h4 class="text-center mb-4">خدمات طراحی وبسایت</h4>
<div class="maintext">
    <p class="text-center text-secondary text-justify text-wrap w-50 mx-auto">برای کسب و کار خودتان یک سایت با کیفیت عالی طراحی کنید. مهم نیست برای چه کاری نیاز به یک وب سایت دارید معرفی کسب و کار خودتان، نمایش نمونه کارهایتان یا فروش آنلاین محصولات خودتان. با تریک هاب می توانید برای هر کاری یک سایت عالی داشته باشید</p>
</div>
<div class="container text-center text-wrap mt-5">
    <div class="row d-flex justify-content-between">
        <div class="col-md-4 col-sm-12 bg-warning rounded-5 p-4 mb-3">
            <i class='bx bx-timer serviceicon pb-2'></i>
            <p>سئو</p>
            <small class="text-secondary servicetext text-justify flex-sm-wrap">طراحی وبسایت ها به گونه ای است سرعت سایت
        بالا
        باشد و کاربر
        تجربه
        لذت
        بخشی
        از استفاده
        از سایت داشته باشد</small>
        </div>

        <div class="col-md-4 col-sm-12 bg-warning rounded-5 p-4 mb-3">
            <i class='bx bx-mobile-alt serviceicon pb-2'></i>
            <p>کاملا ریسپانسیو</p>
            <small class="text-secondary servicetext">قالب های طراحی شده کاملا ریسپانسیو هستند و برای موبایل ، تبلت
        و
        لپ تاپ
        بهینه شده
        اند</small>
        </div>

        <div class="col-md-4 col-sm-12 bg-warning rounded-5 p-4 mb-2">
            <i class='bx bxs-eyedropper serviceicon pb-2'></i>
            <p>طراحی جذاب</p>
            <small class="text-secondary servicetext">قالب های تریک هاب توسط افراد متخصص این زمینه طراحی شده تا
        ظاهری
        زیبا
        و
        کاربر پسند را
        ایجاد کند
      </small>
        </div>
    </div>

    <div class="row mt-2 d-flex justify-content-between" dir="rtl">
        <div class="text-center bg-warning col-md-4 col-lg-4 col-sm-12 rounded-5 p-4 mb-3">
            <i class='bx bx-time-five serviceicon'></i>
            <p>زمان تحویل</p>
            <small class="text-secondary servicetext">تلاش تریک هاب بر این است تا در سریع ترین زمان ممکن وبسایت
        را
        طراحی و
        به
        مشتری
        عزیز
        تحویل
        داده شود
      </small>
        </div>

        <div class="col-md-8 col-lg-8 col-sm-12 rounded-5 freehost p-5 d-flex justify-content-between mb-sm-2" dir="ltr">
            <i class='bx bx-world freeserviceicon text-start '></i>
            <div class="text-end">
                <h5 class="text-white text-wrap text-justify">هاست و دامنه رایگان با استفاده از خدمات ما</h5>
                <p class="text-white text-wrap text-justify">
                    با سفارش طراحی وب سایت شخصی از تیم تریک هاب ، دامنه رایگان دریافت کنید
                </p><br>
            </div>
        </div>
    </div>
</div>
