<div class="container">
    <div class="d-flex justify-content-center align-content-center " dir="rtl">
        <div class="rounded-4 bg-white box position-relative p-4 mb-5 mt-5">
            <h1 class="text-white"> ورود به سایت </h1>
            <p class="text-secondary"> ايميل و پسورد خود را وارد کنيد. </p>
            <form action="Post" class="">
                <input type="email" class="form-control rounded-4 row my-2" placeholder="ایمیل">
                <input type="password" class="form-control rounded-4 row my-2" placeholder="کلمه ی عبور">
                <input type="submit" value="وارد شوید" class="btn btn-success rounded-4 row my-2">
            </form>
            <small> آیا شما ثبت نام نکردید ؟<a routerLink="/register"> ثبت تام </a></small>
        </div>
    </div>
</div>