<div class="container">
    <div class="d-flex justify-content-around aboutus mb-5">
        <img src="../../assets/img/fovicon.png" class="image">
        <h3 class="text-center d-flex align-self-center"><b>درباره ی تیم تریک هاب</b></h3>
    </div>

    <div class="text-end">
        <h2 class="text-dark mb-4">چرا تیم تریک هاب ؟</h2>
        <p class="text-secondary">
            طراحی وبسایت نیاز به دانش تخصصی دارد زیرا کوچک ترین جزئیات در سرعت وبسایت و هم چنین امنیت وبسایت که دو رکن اصلی طراحی هر وبسایت هستند تاثیر گذارند. تیم زد کد حاوی برنامه نویسانی مشتاق و خلاق و همچنین متخصص است که در راستای طراحی وبسایت فعالیت میکند
        </p>
    </div>

    <div class="d-flex justify-content-between padding" dir="rtl">
        <img src="../../assets/img/groupofworks.jpg" alt="groupworks" class="w-50">
        <div class="text-end align-self-center">
            <h2>طراحی وب سایت چیست؟</h2>
            <p class="text-secondary w-50">طراحی سایت یا وب دیزاین Web-Design به مراحل طراحی و ساخت یک پایگاه اینترنتی جهت اطلاع‌رسانی، معرفی شرکت و ارائه محصولات آن گفته می‌شود. طراحی وب‌ سایت یک پروسه است که از لایه‌سازی صفحات وب، تولید محتوا، طراحی گرافیکی و رعایت اصول سئو تشکیل
                شده است.
            </p>
        </div>
    </div>

    <div class="d-flex justify-content-around mb-5 padding">
        <img src="../../assets/img/developers.svg" alt="developers" class="w-50">
        <div class="text-end align-self-center">
            <h2>وظایف طراح وبسایت چیست ؟</h2>
            <p class="text-secondary">وظایف یک طراح سایت به این بستگی دارد که مسئولیت طراحی و ساخت کدام قسمت سایت را بر عهده دارد. برای راه‌اندازی یک سایت حرفه‌ای، به دو تیم یا دو شخص نیاز است. یک تیم برای طراحی شکل و ظاهر سایت و یک تیم برای طراحی کدهای سرور و کدهایی که برای کاربران
                قابل دیدن نیستند. تیم زد کد هم ظاهر و هم باطن وبسایت را طراحی میکند.</p>
        </div>
    </div>


    <div class="mb-5 padding">
        <h4 class="text-center mb-5">اطلاعات بیشتر درباره تریک هاب</h4>
        <div class="row">
            <div class="rounded-4 text-center col-md-4">
                <i class="bi bi-hourglass-split icon text-primary"></i>
                <h5>زمان تحویل کار</h5>
                <p class="text-secondary text-center w-75 mx-auto">زمان تحویل کار بسته به پروژه کاملا متغییر است ، برنامه نویسان تلاش میکنند تا در سریع ترین زمان ممکن پروژه ها را تکمیل کنند.</p>
            </div>
            <div class="rounded-4 text-center col-md-4">
                <i class='bx bxl-python icon text-primary'></i>
                <h5>زبان طراحی وبسایت</h5>
                <p class="text-secondary text-center w-75 mx-auto">تلاش زد کد بر این است تا وبسایت ها با فریمورک جنگو ساخته شوند زیرا امنیت و سرعت بالاتری نسبت به بقیه زبان ها دارند اما با درخواست کارفرما ، زبان مد نظر را برای طراحی وبسایت استفاده خواهیم کرد
                </p>
            </div>
            <div class="rounded-4 text-center col-md-4">
                <i class="bi bi-people icon text-primary"></i>
                <h5>تیم تریک هاب</h5>
                <p class="text-secondary text-center w-75 mx-auto">تیم زد کد متشکل از برنامه نویسانی علاقمند به طراحی وب است ؛ تلاش ما بر این است تا با کیفیت ترین وبسایت ها را به کاربران عزیز ارائه دهیم</p>
            </div>
        </div>
    </div>

</div>
