@font-face {
    font-family: "iranyekan";
    src: url("./assets/font/Yekan.woff") format(woff);
}

body {
    font-family: iranyekan;
    overflow-x: hidden;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #ffc107;
}