<div class="container">
    <div class="d-flex justify-content-center align-items-center position-relative lg" dir="rtl">
        <div class="rounded-5 bg-white box p-4 mt-5 mb-5">
            <h1 class="text-white"> ثبت حساب کاربری
            </h1>
            <p class="text-secondary"> پس از ثبت نام یک ایمیل حاوی لینک فعالسازی برای شما ارسال میشود!
            </p>
            <form action="Post" class="">
                <input type="email" class="form-control rounded-4 row my-2" placeholder="ایمیل">
                <input type="password" class="form-control rounded-4 row my-2" placeholder="کلمه ی عبور">
                <input type="password" class="form-control rounded-4 row my-2" placeholder="تکرار کلمه ی عبور">
                <input type="submit" value="ثبت نام" class="btn btn-success rounded-4 row my-2">
            </form>
            <small> آیا ثبت نام کرده اید؟<a routerLink="/login"> وارد شوید </a></small>
        </div>
    </div>
</div>