<div id="services">
    <h4 class="text-center mt-5">وبسایت مد نظر شما چیست ؟</h4>
    <p class="text-center text-secondary mt-2">پلن های استثنائی طراحی وب</p>
    <div class="container" dir="rtl">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 rounded-3 planbox m-3 p-4 plan">
                <h3>وبسایت شخصی</h3>
                <p class="text-secondary">توسط زبان قدرتمند جنگو</p>
                <h2 class="text-success">
                    10.000.000
                    <span class="text-secondary h5 mx-2">تومان</span>
                </h2>
                <ul class="list-unstyled text-secondary">
                    <li>وبسایت امن</li>
                    <li>سرعت بالا</li>
                    <li>شخصی سازی شده</li>
                    <li>صفحه درباره ما</li>
                    <li>سازگاری کامل با موبایل و تبلت</li>
                    <li>دامنه رایگان</li>
                    <li>دارای پشتیبانی</li>
                    <li>برنامه نویسی با استفاده از فریم ورک Django</li>
                    <li>فضای هاست رایگان</li>
                </ul>
                <input type="submit" class="btn btn-info mb-3 text-white py-2" value="سفارش آنلاین">
            </div>

            <div class="col-md-4 col-sm-12 rounded-3 planbox m-3 p-4 plan">
                <h3>وبسایت شرکتی</h3>
                <p class="text-secondary">توسط زبان قدرتمند جنگو</p>
                <h2 class="text-success">
                    <span class="text-secondary h5 mx-2">شروع از</span> 15.000.000
                    <span class="text-secondary h5 mx-2">تومان</span>
                </h2>
                <ul class="list-unstyled text-secondary">
                    <li>وبسایت امن</li>
                    <li>سرعت بالا</li>
                    <li>شخصی سازی شده</li>
                    <li>سازگاری کامل با موبایل و تبلت</li>
                    <li>دامنه رایگان</li>
                    <li>دارای پشتیبانی</li>
                    <li>برنامه نویسی با استفاده از فریم ورک Django</li>
                    <li>فضای هاست رایگان</li>
                    <li>صفحه مقاله</li>
                    <li>ساخت و ویرایش مقاله(نامحدود)</li>
                    <li>صفحه خدمات</li>
                    <li>و...</li>
                </ul>
                <input type="submit" class="btn btn-info mb-3 text-white py-2" value="سفارش آنلاین">
            </div>

            <div class="col-md-4 col-sm-12 rounded-3 bg-primary planbox p-4 m-3 storeshop plan">
                <h3 class="text-white">وبسایت فروشگاهی</h3>
                <p class="text-secondary text-light">توسط زبان قدرتمند جنگو</p>
                <h2 class="text-light">
                    <span class="text-light h5 mx-2">شروع از</span> 20.000.000
                    <span class="text-light h5 mx-2">تومان</span>
                </h2>
                <ul class="list-unstyled text-light">
                    <li>وبسایت امن</li>
                    <li>سرعت بالا</li>
                    <li>شخصی سازی شده</li>
                    <li>سازگاری کامل با موبایل و تبلت</li>
                    <li>دامنه رایگان</li>
                    <li>دارای پشتیبانی</li>
                    <li>برنامه نویسی با استفاده از فریم ورک Django</li>
                    <li>فضای هاست رایگان</li>
                    <li>صفحه مقاله</li>
                    <li>ساخت و ویرایش مقاله(نامحدود)</li>
                    <li>صفحه خدمات</li>
                    <li>صفحه محصولات</li>
                    <li>تعریف محصولات به تعداد نامحدود</li>
                    <li>سبد خرید</li>
                    <li>و...</li>
                </ul>
                <input class="btn btn-outline-light mb-3 text-white py-2" type="submit" value="سفارش آنلاین">
            </div>
        </div>
    </div>
</div>